* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    color: #333;
}

.nav-link:hover {
    color: rgb(255, 230, 0);
}

nav {
    background-color: rgb(24, 24, 27);
    height: 7.5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
}

.logo {
    margin-left: 16.125%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16.125%;
    gap: 1rem;
}

.text-services {
    color: #5a5a5a;
}

.dog-img {
    border-radius: 1rem;
}

.btn,
.btn-primary {
    color: #fff;
    border: 1px solid #858585;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15rem;
    background-color: rgb(24, 24, 27);
}

.btn:hover {
    background-color: #535151;
    color: white;
    border: none;
}

.card {
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services-title {
    font-weight: bold;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
    align-items: baseline;
    height: 30rem;
    text-align: start;
}

.services-img {
    height: 15rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.3rem;
    font-weight: bold
}

.card-text,
.services-text {
    display: flex;
    justify-content: flex-start;
}

.pet-img {
    height: 25vh;
    width: 24rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid black;
    margin: 1rem;
}

.product-container {
    width: 100%;
    margin-bottom: 3rem;
}

.products-title {
    color: #000000;
}

.card-our-services {
    margin-bottom: 1rem;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-galeria {
    background-color: rgba(243, 112, 24, 0.7);

    padding: 3rem;
}

.gallery-rows {
    margin-left: 12vw;
    margin-right: 12vw;
}

h1 {
    text-align: center;
    color: #333;

}

.form-and-button {
    background-color: orange;
}

form {
    border-radius: 5px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

form legend {
    color: #000000;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 1.5rem;
}

form label {
    display: block;
    margin-bottom: 0.3rem;
    color: black;
}

form input [ type="text"],
form input [ type="email"],
form input [ type="password"],
form textarea [ type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    width: 50rem;
    height: 30vh;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    padding: 1rem;
    height: 5rem;
}

form input {
    width: 50rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    padding: 1rem;
}

.submit-button {
    position: relative;
    left: 34.5rem;
    bottom: 2.5vh;
}

.reviews {
    height: 30vh;
}

.slogan {
    text-align: start;
}

#depoimentos {
    padding: 5rem 0;
    background-color: #f8f9fa;
  }
  
  #depoimentos h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #343a40;
  }
  
  #carouselDepoimentos .carousel-item {
    text-align: center;
  }
  
  #carouselDepoimentos .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  #carouselDepoimentos .card-body {
    padding: 2rem;
  }
  
  #carouselDepoimentos .card-text {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  
  #carouselDepoimentos .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343a40;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 100%, 100%;
  }